<h1>Task#index</h1>
<p>My tasks : </p>

<ul>

  <% @tasks.each do |task|  %>
  <li><strong><%= task.name.upcase %></strong> : <%= task.description %><br> <%= link_to '[SHOW]', task_path(task) %> <%= link_to '[EDIT]', edit_task_path(task) %> <%= link_to '[DELETE]', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<p><%= link_to 'new task', new_task_path %></p>
<!-- a link to its show view (use a link_to helper)
a link to its edit view
a link to its delete action. Hint: a standard link does not allow to perform DELETE request, so here you should add a method: :delete option to your link_to helper. -->
